<template>
  <div>
    <div class="container h-100 mt-2">
      <h2>Daftar Tugas Mahasiswa</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Nama</th>
            <th scope="col">Nim</th>
            <th scope="col">Jurusan</th>
            <th scope="col">Mata Kuliah</th>
            <th scope="col">Dosen</th>
            <th scope="col">File</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Rizki Fizal Amin</td>
            <td>1565410090</td>
            <td>Sistem Informasi</td>
            <td>Algoritma Pemerograman</td>
            <td>Femy Dwi Astuti</td>
            <td>text.pdf</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="">
</style>