<template>
  <div>
    <div class="container h-100">
      <div class="row h-100 justify-content-center">
        <div class="card w-50">
          <div class="card-body">
            <h4 class="card-title text-cente\ mb-4">Kirim Tugas</h4>
            <div class="dropdown-divider"></div>
            <form class="my-4" action method="post">
              <div class="form-group">
                <label for="nama">Nama</label>
                <input
                  type="text"
                  class="form-control"
                  id="nama"
                  placeholder="nama"
                  name="nama"
                  required
                  autofocus
                />
              </div>
              <div class="form-group">
                <label for="nim">Nim</label>
                <input
                  type="text"
                  class="form-control"
                  id="nim"
                  placeholder="nim"
                  name="nim"
                  required
                  autofocus
                />
              </div>
              <div class="form-group">
                <label for="jurusan">Jurusan</label>
                <select class="form-control" name id>
                  <option value>--Pilih Jurusan--</option>
                  <option value="ti">ti</option>
                  <option value="si">si</option>
                </select>
              </div>
              <div class="form-group">
                <label for="dosen">Dosen</label>
                <select class="form-control" name id>
                  <option value>--Pilih Dosen--</option>
                  <option value="dosen 1">dosen 1</option>
                  <option value="dosen 2">dosen 2</option>
                </select>
              </div>
              <div class="form-group">
                <label for="matakuliah">Mata Kuliah</label>
                <select class="form-control" name id>
                  <option value>--Pilih Matakuliah--</option>
                  <option value="matakuliah 1">matakuliah 1</option>
                  <option value="matakuliah 2">matakuliah 2</option>
                </select>
              </div>
              <div class="form-group">
                <label for="file">File</label>
                <input
                  type="file"
                  class="form-control"
                  id="file"
                  placeholder="file"
                  name="file"
                  required
                  autofocus
                />
              </div>
              <div class="dropdown-divider my-4"></div>
              <div class="form-group text-center">
                <button
                  type="submit"
                  class="btn btn-primary w-50"
                  name="submit"
                  value="submit"
                >Kirim</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="">
</style>